<h2 class="text-center">Borrow Details</h2>

<button class="btn btn-sm btn-primary my-3" style="float: right;" (click)="redirectToAdd()">Add Book Borrow Record</button>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">S.N.</th>
      <th scope="col">Borrower Name</th>
      <th scope="col">Book Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Borrow Date</th>
      <th scope="col">Return Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let borrowDetail of bookBorrowRecords;">
      <th scope="row">{{borrowDetail.sn}}</th>
      <td>{{borrowDetail.borrower}}</td>
      <td>{{borrowDetail.book}}</td>
      <td>{{borrowDetail.quantity}}</td>
      <td>{{borrowDetail.bDate}}</td>
      <td>{{borrowDetail.rDate}}</td>
    </tr>
  </tbody>
</table>