<div class="login-layout">
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-3">
                <i class="fa-solid fa-lock icon-size mb-3"></i>
                <h2>Welcome</h2>
                <p>Please enter your login credentials</p>
            </div>
            <div class="mb-3">
                <input type="username" class="form-control" id="username" name="username" formControlName="username" placeholder="Username" autocomplete="off">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="userpassword" name="userpassword" formControlName="password" placeholder="Password" autocomplete="off">
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
