<button class="btn btn-sm btn-primary my-3" style="float: right;" (click)="redirectToAdd()">Add Consumer</button>

<table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">S.N.</th>
        <th scope="col">Borrower Name</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consumer of consumers;">
        <th scope="row">{{consumer.sn}}</th>
        <td>{{consumer.name}}</td>
        <td>{{consumer.address}}</td>
        <td>{{consumer.mobile}}</td>
        <td>
            <button class="btn btn-sm btn-primary mx-2" (click)="redirectToEdit()">Edit</button>
            <button class="btn btn-sm btn-danger mx-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>